body{
  /* background-color: #202124; */
  background-color: #fff;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.form{
  padding-bottom: 40px;
}

.form_label {
  font-size: 8px;
}

.startVertex {
  font-size: 8px;
}

.endVertex {
  font-size: 8px;
}

.startVertexInput, .endVertexInput {
  font-size: 10px; /* Уменьшение размера шрифта */
  margin-left: 5px;
}

.form_btn {
  font-size: 6px; /* Уменьшаем размер шрифта кнопки */
}